//---------------------------------------------fonts
$font_path: "../fonts/";
$font_1: 'Roboto', sans-serif;
$font_size_base: 1.6rem;
//---------------------------------------------fonts###

//---------------------------------------------colors
$white: #fff;
$black: #000;

$green: #50caa1;
$gray: #d9dfeb;
$gray_2: #9093a7;
$gray_3: #f9faff;

$blue: #1f295a;
$blue_2: #59e1f7;
$blue_3: #4c62c4;
$blue_4: #96b4fc;
$blue_5: #4259c1;

$color_text_base: $black;
$color_link_base:#4aa3df;
$body_bg: $gray_3;
//---------------------------------------------colors###

//---------------------------------------------z-index
$z-index: (
	popup : 101,
	header : 100,
	footer : 100
);
//---------------------------------------------z-index###

//---------------------------------------------layout
$page_width: 96rem;

//---------------------------------------------layout###

//---------------------------------------------global values
$gl_radius:.5rem;
//---------------------------------------------global values###

//---------------------------------------------media points
$point_0: 1400px;
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;
//---------------------------------------------media points

//---------------------------------------------forms
$input_height: 4rem;
$input_offset: 0 2rem;
$input_font_size: $font_size_base;
$input_border_color: #ccc;
$input_border_color_active: $black;
$input_placeholder_color: $gray_2;
$input_text_color: $black;
$input_radius: $gl_radius;
//---------------------------------------------forms###