mixin no_use_2(array)
	.no_use_2

-
	mainMenu = [
		{
			icon: 'admin',
			title: 'Dashboard',
		},
		{
			icon: 'admin',
			title: 'Patients',
		},
		{
			icon: 'schedule',
			title: 'Schedule',
		},
		{
			icon: 'admin',
			title: 'On Call Records',
		},
		{
			icon: 'admin',
			title: 'Voice Commands',
		},
		{
			icon: 'visits',
			title: 'Visits',
		},
		{
			icon: 'reports',
			title: 'Reports',
		},
		{
			icon: 'admin',
			title: 'Admin',
		},	
	]

-
	tableHead = [
		{
			checkbox: true,
		},
		{
			search: true,
			title: 'last name'
		},
		{
			search: true,
			title: 'first name'
		},
		{
			sort: true,
			title: 'dob'
		},
		{
			sort: true,
			title: 'gender'
		},
		{
			sort: true,
			title: 'status'
		},
	]

-
	tableArr = [
		{
			active: true,
			content: 		[
				{
					checkbox: true,
				},
				{
					title: 'Smith',
				},
				{
					title: 'Trevor',
				},
				{
					title: '04/02/98',
				},
				{
					title: 'Male',
				},
			]
		},
		{
			active: true,
			checked: true,
			content: 		[
				{
					checkbox: true,
				},
				{
					title: 'Blogs',
				},
				{
					title: 'Frank',
				},
				{
					title: '04/02/98',
				},
				{
					title: 'Male',
				},
			]
		},
		{
			active: false,
			content: 		[
				{
					checkbox: true,
				},
				{
					title: 'Edlehouser',
				},
				{
					title: 'Judy',
				},
				{
					title: '04/02/98',
				},
				{
					title: 'Female',
				},
			]
		},
		{
			active: true,
			content: 		[
				{
					checkbox: true,
				},
				{
					title: 'Van Vleet',
				},
				{
					title: 'Joe',
				},
				{
					title: '04/02/98',
				},
				{
					title: 'Male',
				},
			]
		},
		{
			active: false,
			checked: true,
			content: 		[
				{
					checkbox: true,
				},
				{
					title: 'De Sauza',
				},
				{
					title: 'Emmanuel',
				},
				{
					title: '04/02/98',
				},
				{
					title: 'Male',
				},
			]
		},
		{
			active: false,
			content: 		[
				{
					checkbox: true,
				},
				{
					title: 'Beach',
				},
				{
					title: 'Stephanie',
				},
				{
					title: '04/02/98',
				},
				{
					title: 'Female',
				},
			]
		},
		{
			active: true,
			content: 		[
				{
					checkbox: true,
				},
				{
					title: 'Lindwall',
				},
				{
					title: 'David',
				},
				{
					title: '04/02/98',
				},
				{
					title: 'Male',
				},
			]
		},
	]